@model List<RealState>
@{
    Layout = "DetailsLayout";
} 
@*<div class="address">
        <h1 class="font-weight-bold"><i class="fas fa-home"></i>Properties For sale in Greater Cairo</h1>
            <p id="search-description">Best properties For sale in Greater Cairo.<br> </p><br>
    </div>
         <div id="carouselExampleIndicators" class="carousel slide w-50 m-auto" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="~/Images/1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/Images/1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/Images/1.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
                   
      <div class="info-container">
        <p class="sponsored-featured">
        Direct from Owner
        </p>
        <h3 class="listing-card-title">
        Building <span class="integer">@Model.Area</span> M² For Sale @Model.State
        </h3>
        <p style="font-weight: 700;">
        <i class="location-icon fa fa-map-marker-alt"></i>
        @Model.FullAdress
        </p>
        <div class="listing-attributes">
        </div>
        <div class="seller-properties">
        Listed By <strong>@Model.User.FullName</strong>
        <a class="font-weight-bold" href="/en/user/1733944" target="_blank">
        See other Listings
         </a>
        </div>
        <div class="price-container">
        <span class="integer">@Model.Price</span>
        <span>EGP </span>
        </div>
        <div class="btn-container clearfix">
            <a href="/en/listing/2937044-for-sale-cairo-nasr-city-el-hay-el-thamin-dr-hassanien-abd-el-qader-st" class="showSellerPhoneButtonMob leadButton">
            Details
            </a>
            </div>
        
  </div>
</div>
</div>
<br>*@

<!-- ///////////////////////////////////////////////////////
          </div>



          <!-- ////////////////////////////////////////////////////////////////////////////// -->
          <div class="container-fluid ">
<div class="row">
   
    @foreach (var item in Model)
    {
     <div class="col-lg-3 col-md-6  text-center">
    <div class="card">
    <img class="card-img-top" src="~/Images/5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">@item.Description</h5>
      <p class="card-text">
        <p>
            <i class="location-icon fa fa-map-marker-alt"></i>
            @item.FullAdress
            </p></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="integer">@item.Area</span> M²</li>
      <li class="list-group-item"> <span class="integer">@item.Price</span>
        <span>EGP </span></li>
    </ul>
    
      <a href="#" class="card-link"><div class="card-body">Details</div></a>
  </div>   </div>
    }
    
</div> 
</div>

<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="pagination-container">
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>